---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>lundaTempo</title>
<link rel="stylesheet" href="/style.css">
<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="lundaTempo" />
<link rel="manifest" href="/assets/site.webmanifest" />
</head>
<body>
<header></header>
<script src="/partials/header.js"></script>
<br>
<br>

<main>
<h3>Låtar</h3>
{% for song in collections.songs | sort(false, false, "data.title") %}
<a href="{{ song.url }}"><span>{{ loop.index }}.</span> {{ song.data.title }}</a><br>
<br>
{% endfor %}

<h3>Andra saker</h3>
{% for misc in collections.misc | sort(false, false, "data.title") %}
<a href="{{ misc.url }}">{{ misc.data.title }}</a><br>
<br>
{% endfor %}
Kommer kanske snart
</main>

<br>
<br>
<footer></footer>
<script src="/partials/footer.js"></script>

</body>
</html>
