---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>lundaTempo</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<header></header>
<script src="/partials/header.js"></script>
<br>

<main>
<h3>Låtar</h3>
{% for song in collections.songs | sort(false, false, "data.title") %}
<a href="{{ song.url }}">{{ song.data.title }}</a><br>
<br>
{% endfor %}

<h3>Andra saker</h3>
{% for misc in collections.misc | sort(false, false, "data.title") %}
<a href="{{ misc.url }}">{{ misc.data.title }}</a><br>
<br>
{% endfor %}
</main>

<br>
<br>
<footer></footer>
<script src="/partials/footer.js"></script>

</body>
</html>
