/* lundaTempo — style.sass */
/* Fill in your styles here. */

:root
  color: black
  background-color: white

  &[data-theme="dark"]
    color: white
    background-color: black

  text-wrap: wrap

#theme-toggle
  background: none
  border: none
  cursor: pointer
  font-size: 1rem
  padding: 0
  margin-left: 0.5rem
  vertical-align: middle