<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<header></header>
<script src="/partials/header.js"></script>

<main>
<div class="content">
<p><b>{{ title }}</b><br>
<i>Mel. {{ melody }}</i></p>
{% if source %}<div class="song-source"><small>Källa: {{ source }}</small></div>{% endif %}
<br>
{{ content | safe }}
</div>
</main>

<footer></footer>
<script src="/partials/footer.js"></script>

</body>
</html>
